@font-face
    font-family: "Code Saver"
    src: url('../../assets/fonts/codesaver-regular.ttf')
    font-weight: 400

@font-face
    font-family: "Code Saver"
    src: url('../../assets/fonts/codesaver-bold.ttf')
    font-weight: 800
    
@font-face
    font-family: "Harmonia Sans"
    src: url('../../assets/fonts/harmonia-sans-regular.ttf')
    font-weight: 400

@font-face
    font-family: "Harmonia Sans"
    src: url('../../assets/fonts/harmonia-sans-bold.ttf')
    font-weight: 800

body
    color: #111111
    background-color: #E8E7D7

h1
    font-family: "Harmonia Sans", serif
    font-weight: 800
    font-size: 5.5rem

h2
    font-family: "Harmonia Sans", serif
    font-weight: 400
    font-size: 2.8rem

h3
    font-family: "Harmonia Sans", serif
    font-weight: 800
    font-size: 2.8rem

p, li
    font-family: "Code Saver", serif
    font-size: 1rem

div p
    margin: 1.5rem 0

h4 a
    color: #111111
    text-decoration: underline

hr
    border-top: 7px solid
    margin-left: -10000% 

header
    margin-top: 8rem
    margin-bottom: 3rem

section
    margin: 4rem 0

section h3
    margin-bottom: 1rem

form input, form textarea
    border-radius: 5px

form button
    float: right

.key-skills
    overflow: auto
    margin-top: 4rem
    margin-bottom: 3rem

.experience
    margin-top: 0

.tech
    float: left

.social
    float: right

.contact-form
    margin-bottom: 7rem
    font-family: "Harmonia Sans", sans-serif
    font-size: 1rem

.bold
    font-weight: 800

// Tablet
@media all and (min-width: 481px) and (max-width: 992px)

    h1
        font-size: 3rem

// Phone
@media all and (min-width: 0) and (max-width: 480px)

    h1
        font-size: 4rem

    h2
        font-size: 2rem

    p
        font-size: 1rem


    .tech
        float: left
        display: block
        clear: both

    .social
        float: left
        display: block
        clear: both

